<!DOCTYPE html>
<html>
  <head>
    <title>Client-Server App with Node.js, Express and EJS</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <input type="text" name="name" placeholder="Please enter your name" />
      <button type="submit">Send</button>
    </form>

    <% if (name) { %>
    <h1>Hello <%= name %> 👋</h1>
    <% } %>
  </body>
</html>
