<!DOCTYPE html>
<html>
  <head>
    <title>Client-Server App with Node.js, Express and EJS</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <input type="text" name="name" placeholder="Please enter your name" />
      <input type="text" name="age" placeholder="Indtast din alder" />
      <button type="submit">Send</button>
    </form>

    <% if (error) { %>
    <p style="color: red;"><%= error %></p>
    <% } %>

    <% if (name) { %>
    <h1>Hello <%= name %> (<%= age %> år) 👋</h1>
    <% } %>

    <ul>
      <% names.forEach(n => { %>
      <li><%= n %></li>
      <% }) %>
    </ul>
  </body>
</html>
